; @layout layout
; @title ざる魂について
; @orgmode? false

<div class="l-content">

  <div class="information pure-g-r">
    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">ざるだましいについて</h3>
        <p>
          おもにEmacs、Clojure、Ubuntuなどの技術系のメモを中心としたブログです。
          普段インターネット上の様々な技術情報にお世話になっているわけですが、自分も情報を共有することで、ネット社会へ少しでも貢献でたらと考え、このブログを始めました(当然ながらご利用は自己責任で)。</p>
        <p>「ざるだましい」とは、サルのキャラクターが好きな、私の技術者としての想いをもじったものです。
          いつまでも猿のように技術を吸収しつづけたい、そんな私の知られざる想いから名付けました。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">作者について</h3>
        <img align="left" style="margin:0.5em;" width="150px" src="/img/zarudama-mikio-300x255.png">
        <p>
          普段はウェブサービスの開発をやっています。昔はコンシューマー系のゲーム開発をしていました。
          趣味では、個人プロジェクトとして剛体の <a href="https://code.google.com/p/ochagl/">箱庭3D世界</a> を構築すべく地味に古典力学を勉強しています。</p>
        <p>現在、仕事のメイン開発言語はJavaですが、「<a href="http://practical-scheme.net/trans/hp-j.html">ハッカーと画家</a>」の影響で、Lisp系言語が好きです。最近はClojureを趣味で使用しています。</p>
        <p>好きなエディタはEmacsです。長い間Emacs使いをやってますが、今は「<a href="http://www.emacswiki.org/emacs/Evil">Eviler</a>」です。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">お約束</h3>
        <p>
          当サイト「ざる魂」において提供されているコンテンツに関して、
          編集著作権を含む一切の権利は管理者「<a href="https://twitter.com/mikio_kun">mikio_kun</a>」が保有致します。
        </p>
        <p>
          また当サイト「ざる魂」の御利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">サイトの技術的情報</h3>
        <p>
          次のツールを使用しています。
        </p>
        <ul><li>CSS Framework : <a href="http://purecss.io">Pure</a></li></ul>
        <ul><li>Site Generator : <a href="https://github.com/mikio/misaki-orgmode">Misaki.orgmode</a></li></ul>
      </div>
    </div>

  </div>
</div> <!-- end information -->
</div> <!-- end l-content -->
