; @layout layout
; @title ざる魂について
; @orgmode? false

<div class="l-content">

  <div class="information pure-g-r">
    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">ざるだましいについて</h3>
        <p>
          おもにEmacs、clojure、Ubuntuなどの技術系のメモを中心としたブログです。
          「ざるだましい」とは、サルのキャラクターが好きな私の技術者としての想いをもじったものです。
          いつまでも猿のように貧欲に技術を吸収しつづけたい、そんな知られざる想いです。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">作者について</h3>
        <p>
          ウェブ系開発者をやっています。昔はコンシューマー系のゲーム開発をしていました。
          個人プロジェクトとして、剛体の <a href="https://code.google.com/p/ochagl/">箱庭3D世界</a> を構築すべく地味に古典力学を勉強しています。
          現在メインの開発言語はJavaですが、「ハッカーと画家」の影響で、Lisp系言語が好きです。最近はClojureを趣味で使用しています。
          好きなエディタはEmacsです。結構ながい間Emacs使いをやってますが、今は「<a href="http://www.emacswiki.org/emacs/Evil">Eviler</a>」やってます。
        </p>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="l-box">
        <h3 class="information-head">サイトの技術的情報</h3>
        <p>
          次のツールを使用しています。
        </p>
        <ul><li>CSS Framework : <a href="http://purecss.io">Pure</a></li></ul>
        <ul><li>Site Generator : <a href="https://github.com/mikio/misaki-orgmode">Misaki.orgmode</a></li></ul>
      </div>
    </div>

    </div>
  </div> <!-- end information -->
</div> <!-- end l-content -->
