<div class="page-header">
  <h1>{{ page.title }} </h1>
</div>

<div class="row">
  <div class="span12">
  {% unless page.tags == empty %}
    <ul class="nav nav-pills">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    <p class="pull-right"><span>{{ page.date | date_to_long_string }}</span></p>
    </ul>
  {% endunless %}  

    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}

  
  <!-- X:S ZenBackWidget --><script type="text/javascript">document.write(unescape("%3Cscript")+" src='http://widget.zenback.jp/?base_uri=http%3A//mikio.github.com&nsid=96726291142699249%3A%3A103607358374074283&rand="+Math.ceil((new Date()*1)*Math.random())+"' type='text/javascript'"+unescape("%3E%3C/script%3E"));</script><!-- X:E ZenBackWidget -->

<!-- twitter follow badge by go2web20 -->
<script src='http://www.go2web20.net/twitterfollowbadge/1.0/badge.js' type='text/javascript'></script>
<script type='text/javascript' charset='utf-8'>
  tfb.account = 'mikio_kun';
  tfb.label = 'follow-me';
  tfb.color = '#262626';
  tfb.side = 'r';
  tfb.top = 136;
  tfb.showbadge();
</script>

  </div>
  
</div>
